@font-face {
  font-family: 'DB';
  src: url("font/debussy.woff") format('woff');
}

@font-face {
  font-family: 'Gms';
  src: url("font/GmarketSansTTFMedium.woff") format('woff');
}

@font-face {
  font-family: 'GmsBold';
  src: url("font/GmarketSansTTFBold.woff") format('woff');
}


.menu_card {
  cursor: pointer;
}

.wrapper_pay {
  width: 1350px; height: 400px;
  font-family: 'Gms';
  letter-spacing: -1px;
}
  .shopcart {
    width: 1300px; height: 175px;
    padding: 25px 25px;
    margin-bottom: 25px;

    box-sizing: content-box;

    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
    .shopcart::-webkit-scrollbar { display: none; }

  .totalresult {
    width: 500px; height: 50px;
    padding: 0px 25px;

    font-size: 30px;
    font-weight: bold;
  }

    #resultInfo {
      float: left;
    }

    #result {
      float: right;
    }

  .buttonArea {
    width: 1350px; height: 100px;
    padding: 10px 50px;
    box-sizing: border-box;
  }

    .buttonArea > button {
      width: 600px; height: 80px;
      float: left;
      padding: 0;

      font-size: 45px;
      font-family: 'GmsBold';

      line-height: 80px;
    }


.menuList {
  width: 100%; height: 50px;
  font-size: 28px;
  font-weight: bold;
  line-height: 50px;

  position: relative;
}

  .menuList > .menu {
    position: absolute;
    left: 0px;
  }

  .menuList > .amount {
    position: absolute;
    right: 300px;
  }

  .menuList > .price {
    position: absolute;
    right: 50px;
  }

  .menuList > button {
    width: 40px; height: 40px;

    position: absolute;
    right: 0px; top: 5px;

    font-family: 'GmsBold';
  }

.popupWrapper {
  position: absolute;
  top: 50%; left: 50%;
  margin-left: -350px;
  margin-top: -500px;

  z-index: 10;
}

.orderPage {
  width: 700px; height: 1000px;
  margin: 0 auto; padding: 0 20px;
  position: relative;
  box-sizing: border-box;

  text-align: center;
  background-color: white;
  border: 1px solid black;

  display: none;
}

  .orderPage > #title {
    width: 698px; height: 100px;
    line-height: 100px;
    margin: 0; padding: 0;
    margin-left: -20px; 
    padding-top: 8px;

    overflow: hidden;
    
    font-family: 'GmsBold';
    font-size: 40px;

    background-color: #EA0D44;
    color: white;
  }

  .orderPage > #orderList {
    width: 100%; height: 700px;

    box-sizing: border-box;
    padding: 40px 20px;

    background-color: white;

    font-family: 'Gms';
    font-size: 25px;

    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
    #orderList::-webkit-scrollbar { display: none; }

    #orderList > p{
      position: relative;
      padding: 20px 0;
    }

    .setRed {
      font-size: 1.2em;
      color: #EA0D44;
    }

      #orderList > p > .menu {
        position: absolute;
        left: 0px;
      }
    
      #orderList > p > .amount {
        position: absolute;
        right: 150px;
      }

      #orderList > p > .price {
        position: absolute;
        right: 0px;
      }

  #totalCount {
    height: 100px;
    line-height: 100px;
    margin: 0;
    font-family: 'Gms';

    float: left;
  }

  #totalPrice {
    height: 100px;
    line-height: 100px;
    margin: 0;
    font-family: 'Gms';

    float: right;
  }

  .orderPage > button {
    width: 400px; height: 60px;
    position: absolute;
    bottom: 0px; left: 50%;

    margin: 20px 0;
    margin-left: -200px;

    padding-top: 8px;

    clear: both;
    
    font-family: 'GmsBold';
    font-size: 40px;
  }